body {
    width: 1200px;
    margin: 2rem auto 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #dcdcdc;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

img {
    border: 2px solid black;
    border-radius: 4px;
    margin: 1rem auto 1rem;
}

label{
    display: inline-block;
    width: 250px;
    font-size: 2rem;
    text-align: left;
}

input[type="text"] {
    font-size: 2rem;
    max-width: 3rem;
}

input.btn {
    font-size: 2rem;
    border-radius: 10px;
    padding: .5rem 1rem;
}

input.output {
    font-size: 2rem;
    border-radius: 10px;
    width: 10rem;
}



p {
    color: red;
    font-size: 2rem;
    margin: 1rem;
}

span {
    font-size: 1.5rem;
}

ul {
    margin: 0 auto 4rem;
}
li {
    list-style: none;
    font-size: 1.5rem;
}